.appLinks {
   text-decoration: none;
   color: inherit;
}
.appLinks:hover{
    text-decoration: none;
    color: #c93be6;
 }
 .container {
    width: 100%;
    max-width: 100vw;
    padding: 3rem;
    margin: 2rem auto;
    margin-top: 50px;
  }

  .actionsContainer span {
   margin-right: 10px;
  }

  .btnContainer {
     display: flex;
     justify-content: center;
     padding-top: 35px;
  }
  .btnContainer Button{
   margin-right: 25px;
}